# Database
DATABASE_URL="postgresql://dropzone:dropzone_pass@db:5432/dropzone"

# NextAuth
NEXTAUTH_SECRET="CHANGE_ME_TO_A_RANDOM_32_CHAR_STRING"
NEXTAUTH_URL="http://localhost:3000"

# App
NODE_ENV="production"
